<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- This wrapper supports both custom configuration section, cryptoServiceSettings, and appSettings section. -->
    <!-- Even though the cryptoServiceSettings section is preferrable, if it's not defined, it alternatively looks for the appSettings section. -->
    <!-- If the cryptoServiceSettings section is defined, the values defined in the appSettings section are ignored. -->
    <configSections>
        <section name="cryptoServiceSettings" type="Aliencube.CryptoService.CryptoServiceSettings, Aliencube.CryptoService" requirePermission="false" />
    </configSections>

    <cryptoServiceSettings
        hashProvider ="SHA512"
        symmetricProvider ="Rijndael"
        symmetricKey ="12345678901234567890123456789012"
        symmetricVector ="1234567890123456" />

    <appSettings>
        <!--
            Hash provider: MD5, SHA1, SHA256, SHA384, SHA512
        -->
        <add key="HashProvider" value="SHA512" />

        <!--
            Cryption provider: Aes, DES, RC2, Rijndael, TripleDES
        -->
        <add key="SymmetricProvider" value="Rijndael" />

        <!--
            Sets the passphrase key and vector for encryption or decription.
            - Aes: 32/16
            - DES: 8/8
            - RC2: 16/8
            - Rijndael: 32/16
            - TripleDES: 24/8
        -->
        <add key="SymmetricKey" value="12345678901234567890123456789012" />
        <add key="SymmetricVector" value="1234567890123456" />
    </appSettings>
</configuration>