<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<!--
			Sets the passphrase for encryption or decription. It must be 32 characters long.
			Default value is "12345678901234567890123456789012".
		-->
		<add key="PassPhrase" value="12345678901234567890123456789012" />
	</appSettings>
</configuration>