<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!--
            Sets the passphrase key and vector for encryption or decription.
            - Aes: 32/16
            - DES: 8/8
            - RC2: 16/8
            - Rijndael: 32/16
            - TripleDES: 24/8
        -->
        <add key="PassPhrase.Key" value="12345678901234567890123456789012" />
        <add key="PassPhrase.Vector" value="1234567890123456" />

        <!--
            Cryption provider: Aes, DES, RC2, Rijndael, TripleDES
        -->
        <add key="CryptionProvider" value="Aes" />
    </appSettings>
</configuration>